
.button_home{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.button_quizz{
    background-color: #eee;
    border-radius:20px ;
    box-shadow: 0 0px 15px rgba(100, 100, 100, 0.5);
    margin: 5px;
    padding: 20px;
    text-align: center;
    transition: 0.4s ease-in-out;
    color: black;
}
a{
    text-decoration: none;
}

#button_music, #button_pause,#button_replay{
    cursor: pointer;
    border: none;
}
